@model List<WorkTrack.ViewModels.EmployeeViewModel>
@{
	ViewBag.Title = "Працівники";
}

<h2>Фільтри пошуку</h2>

<form asp-controller="personnel" asp-action="filterEmployees" class="filter-form">
	<div>
		<label for="position">Посада</label>
		<select name="position" asp-items="@ViewBag.Positions" class="form-control"></select>
	</div>

	<div>
		<label for="department">Відділ</label>
		<select name="department" asp-items="@ViewBag.Departments" class="form-control"></select>
	</div>

	<div>
		<label for="fullName">ПІБ</label>
		<input type="text" name="fullName" value="@ViewBag.FilterFullNameParam" />
	</div>
	<button class="btn-sm" type="submit">Пошук</button>
</form>

<h2>Список працівників</h2>

<div>
	<table>
		<thead>
			<tr>
				<th>ПІБ</th>
				<th>Відділ</th>
				<th>Посада</th>
				<th>Адреса</th>
				<th>Телефон</th>
				<th>Дата народження</th>
				<th>Дата взяття на роботу</th>
				<th>Оклад</th>
				<th>Дії</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var employee in Model)
			{
				<tr>
					<td>@employee.LastName @employee.FirstName @employee.MiddleName</td>
					<td>@employee.Department!.DepartmentName</td>
					<td>@employee.Position!.PositionName</td>
					<td>@employee.Address.Country, м. @employee.Address.City, вулиця @employee.Address.Street @employee.Address.HouseNumber, кв. @employee.Address.ApartmentNumber</td>
					<td>@employee.PhoneNumber</td>
					<td>@employee.BirthDate.ToString("d")</td>
					<td>@employee.HireDate.ToString("d")</td>
					<td>@employee.Salary.ToString("0.00")</td>
					<td><a asp-controller="personnel" asp-action="editEmployee" asp-route-id="@employee.EmployeeId" asp-route-position="@ViewBag.FilterPositionParam" asp-route-department="@ViewBag.FilterDepartmentParam" asp-route-fullName="@ViewBag.FilterFullNameParam">Редагувати</a></td>
				</tr>
			}
		</tbody>
	</table>
</div>